<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
         <li class="nav-item">
            <a class="nav-link " [routerLink]="['']" routerLinkActive="activeIcon">toDo</a>
         </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="['home']" routerLinkActive="activeIcon">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['about']" routerLinkActive="activeIcon">about us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['contact']" routerLinkActive="activeIcon" >contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['todo']" routerLinkActive="activeIcon" >todo list</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>